body {
  background-color: #ddd;
}

a:link {
  color: black;
}

a:any-link {
  color: black;
}


@media (min-width: 0px) {

  .page-container {
    width: 15em;
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  .game-container, .game-container-3d {
    height: 100%;
    width: 100%;
    display: inline-flex;
    color: black;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
  }

  .game-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .game-container-3d {
    position: relative;
    top: 6.5em;
    left: 7em;
    transform: translate(-50%, -50%) rotate(330deg) skew(25deg);
  }

  .game-container-3d:before {
    content: '';
    position: absolute;
    top: 0.22em;
    left: 1.45em;
    height: 11.1em;
    width: 0.5em;
    background: linear-gradient(90deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 5px;
    transform: rotate(0deg) skewY(-45deg);
  }

  .game-container-3d:after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 1.65em;
    height: 0.51em;
    width: 11.06em;
    background: linear-gradient(180deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 120px;
    transform: rotate(0deg) skewX(-45deg);
  }
}


@media (min-width: 480px) and (min-height: 300px){

  .page-container {
    width: 29em;
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  .game-container, .game-container-3d {
    height: 100%;
    width: 100%;
    display: inline-flex;
    color: black;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 33px;
  }

  .game-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .game-container-3d {
    position: relative;
    top: 6.5em;
    left: 7em;
    transform: translate(-50%, -50%) rotate(330deg) skew(25deg);
  }

  .game-container-3d:before {
    content: '';
    position: absolute;
    top: 0.15em;
    left: 1.7em;
    height: 11.1em;
    width: 0.5em;
    background: linear-gradient(90deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 5px;
    transform: rotate(0deg) skewY(-45deg);
  }

  .game-container-3d:after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 1.93em;
    height: 0.51em;
    width: 11.06em;
    background: linear-gradient(180deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 120px;
    transform: rotate(0deg) skewX(-45deg);
  }
}

@media (min-width: 1000px) and (min-height: 600px) {

  .page-container {
    width: 33.5em;
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  .game-container, .game-container-3d {
    height: 100%;
    width: 100%;
    display: inline-flex;
    color: black;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 44px;
  }

  .game-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .game-container-3d {
    position: relative;
    top: 6.5em;
    left: 7em;
    transform: translate(-50%, -50%) rotate(330deg) skew(25deg);
  }

  .game-container-3d:before {
    content: '';
    position: absolute;
    top: 0.22em;
    left: 0.65em;
    height: 11.1em;
    width: 0.5em;
    background: linear-gradient(90deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 5px;
    transform: rotate(0deg) skewY(-45deg);
  }

  .game-container-3d:after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 0.9em;
    height: 0.51em;
    width: 11.06em;
    background: linear-gradient(180deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 120px;
    transform: rotate(0deg) skewX(-45deg);
  }
}

@media (min-width: 1200px) and (min-height: 800px) {

  .page-container {
    width: 51em;
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  .game-container, .game-container-3d {
    height: 100%;
    width: 100%;
    display: inline-flex;
    font-size: 60px;
    line-height: 66px;
    font-family: "Verdana",Geneva, sans-serif;
    font-weight: normal;
    color: black;
  }

  .game-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: .5s;
  }

  .game-container-3d {
    transition: .5s;
    position: relative;
    top: 6.5em;
    left: 7em;
    transform: translate(-50%, -50%) rotate(330deg) skew(25deg);
  }

  .game-container-3d:before {
    content: '';
    position: absolute;
    top: 0.22em;
    left: 0.79em;
    height: 11.1em;
    width: 0.5em;
    background: linear-gradient(90deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 5px;
    transform: rotate(0deg) skewY(-45deg);
  }

  .game-container-3d:after {
    content: '';
    position: absolute;
    bottom: -0.5em;
    left: 1.02em;
    height: 0.51em;
    width: 11.06em;
    background: linear-gradient(180deg, #E0E0FF 0%, #E0E0FF 100%);
    background-size: 120px;
    transform: rotate(0deg) skewX(-45deg);
  }
}

#Inline-Title {
  text-align: center;
}

.game, .game-3d {
  border-style: inset;
  border-width: 0.05em;
  border-spacing: 0em;
  border-color: #F6F6FF;
  padding: 0.05em;
  background-color: black;
  margin: auto;
  width: auto;
}

.game-3d {
  transition: 0.1s;
  box-shadow: -30px 30px 30px rgba(0, 0, 0, .5);
}

.game-3d:hover {
  transition: 0.1s;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.clear {
  clear: both;
}

.number {
  display: inline-block;
  float: left;
  border-style: outset;
  border-width: 0.05em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  background-color: #E0E0FF;
  border-color: #F6F6FF;
  margin-right: 0.05em;
}

.square-white, .square-black {
  display: inline-block;
  float: left;
  border-style: outset;
  border-width: 0.05em;
  border-color: #F6F6FF;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
}

.square-white {
  background-color: #FECE9D;
}

.square-black {
  background-color: #D38B44;
}

.letter, .empty {
  display: inline-block;
  float: left;
  border-style: outset;
  border-width: 0.05em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  background-color: #E0E0FF;
  border-color: #F6F6FF;
  border-top-color: black;
  margin-top: 0.05em;
}

.empty {
  border-top-color: black;
  border-left-color: black;
  margin-right: 0.05em;
}

h1 {
  text-align: center;
  font-family: "Verdana", Geneva, sans-serif;
}

p {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 20px;
  text-align: center;
  white-space: pre-wrap;
}

#chess-image-text {
  font-weight: bold;
  text-align: center;
}

#chess-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 50%;
  height: 50%;
}

.square-hover {
  -moz-box-shadow:    inset 0 0 10px #311B0B;
  -webkit-box-shadow: inset 0 0 10px #311B0B;
  box-shadow:         inset 0 0 10px #311B0B;
}

.selected {
  -moz-filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);

  -moz-box-shadow:    inset 0 0 15px #0f0;
  -webkit-box-shadow: inset 0 0 15px #0f0;
}

.selected:hover {
  transition: 0.5s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.piece {
  transition: 0.25s;
  text-shadow:
          #ccc 0 1px 0,
          #c9c9c9 0 2px 0,
          #bbb 0 3px 0,
          #b9b9b9 0 4px 0,
          #aaa 0 5px 0,
          rgba(0,0,0,.1) 0 6px 1px,
          rgba(0,0,0,.1) 0 0 5px,
          rgba(0,0,0,.3) 0 1px 3px,
          rgba(0,0,0,.15) 0 3px 5px,
          rgba(0,0,0,.2) 0 5px 10px,
          rgba(0,0,0,.2) 0 10px 10px,
          rgba(0,0,0,.1) 0 20px 20px;
}