@()

    @main("HTWG Chess") {

        <h1>About Chess</h1>

        <p id="intro">
            Chess is a two-player strategy board game played on a checkered board with 64 squares arranged in an 8×8 grid.
            The game is played by millions of people worldwide.
        </p>

        <hr>

        <p id="about">
            Play involves no hidden information. Each player begins with 16 pieces: one king, one queen, two rooks, two knights,
            two bishops, and eight pawns. Each piece type moves differently, with the most powerful being the queen and the least
            powerful the pawn. The objective is to checkmate the opponent's king by placing it under an inescapable threat
            of capture. To this end, a player's pieces are used to attack and capture the opponent's pieces, while supporting each other.
            During the game, play typically involves exchanging pieces for the opponent's similar pieces, and finding and engineering
            opportunities to trade advantageously or to get a better position. In addition to checkmate, a player wins the game if the
            opponent resigns, or (in a timed game) runs out of time. There are also several ways that a game can end in a draw.
        </p>

        <p id="chess-image-text">
            The following image shows a typical Chess board in real life: <br>
            <img id="chess-image" src=@routes.Assets.versioned("images/1280px-ChessStartingPosition.jpg")>
        </p>

        <h1>Historic Background</h1>

        <p>
            Chess is believed to be derived from the Indian game chaturanga
            sometime before the 7th century. Chaturanga is also the likely ancestor of the Eastern strategy games xiangqi (Chinese chess),
            janggi (Korean chess), and shogi (Japanese chess). Chess reached Europe by the 9th century, due to the Umayyad conquest of Hispania.
            The pieces assumed their current powers in Spain in the late 15th century; the modern rules were standardized in the 19th century.
        </p>

        <h1>Rules</h1>

        <p>
            The player controlling the white pieces is named "White"; the player controlling the black pieces is named
            "Black". White moves first, then players alternate moves. Making a move is required; it is not legal to skip
            a move, even when having to move is detrimental. Play continues until a king is checkmated, a player resigns,
            or a draw is declared, as explained below. In addition, if the game is being played under a time control
            players who exceed their time limit lose the game.

            The official chess rules do not include a procedure for determining who plays White.
            Instead, this decision is left open to tournament-specific rules
            (e.g. a Swiss system tournament or round-robin tournament) or, in the case of non-competitive play,
            mutual agreement, in which case some kind of random choice is often employed.
            A common method is for one player to conceal a piece (usually a pawn) of each color in either hand;
            the other player chooses a hand to open, and receives the color of the piece that is revealed.
        </p>

        <h1>Moveset</h1>

    <ul>
    <li>The king moves exactly one square horizontally, vertically, or diagonally.</li>
        <li>A rook moves any number of vacant squares horizontally or vertically. It also is moved when castling.</li>
    <li>A bishop moves any number of vacant squares diagonally.</li>
        <li>The queen moves any number of vacant squares horizontally, vertically, or diagonally.</li>
    <li>A knight moves to the nearest square not on the same rank, file, or diagonal. (This can be thought of as moving <br/>
        two squares horizontally then one square vertically, or moving one square horizontally <br/>
        then two squares vertically—i.e. in an "L" pattern.) The knight is not blocked by other pieces: it jumps to the new location.</li>
        <li>Pawns have the most complex rules of movement:</li>
    <ul>
        <li>A pawn moves straight forward one square, if that square is vacant. If it has not yet moved, a pawn also has the option of moving two squares straight forward, provided both squares are vacant. Pawns cannot move backwards.</li>
    <li>Pawns are the only pieces that capture differently from how they move. A pawn can capture an enemy piece on either of the two squares diagonally in front of the pawn (but cannot move to those squares if they are vacant).</li>

        <li>The pawn is also involved in the two special moves en passant and promotion (Schiller 2003:17–19)</li>
    </ul>
    </ul>

        <h1>Source</h1>

        <p><a href="https://en.wikipedia.org/wiki/Chess">https://en.wikipedia.org/wiki/Chess</a></p>
        <p><a href="https://en.wikipedia.org/wiki/Rules_of_chess">https://en.wikipedia.org/wiki/Rules_of_chess</a></p>

    }