@import de.htwg.se.Chess.controller.controllerComponent.GameStatus._

@(controller: de.htwg.se.Chess.controller.controllerComponent.ControllerInterface, message: String)

@size = @{
    controller.grid.size
}

@playerAtTurnToString = @{
    controller.playerAtTurnToString
}

@()

    @main("HTWG Chess") {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
        <script src='@routes.Assets.versioned("vue/components/chess-app.js")'></script>

        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/chess.css")' />

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">HTWG Chess</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            New
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" onclick="newGame(event)">New</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#newGameWithNames">New Game with Player Name input</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/undo">Undo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/redo">Redo</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal fade" id="newGameWithNames" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Player Names</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <span>Player 1:</span>
                            </div>
                            <div class="col">
                                <input autocomplete="on" id="player-one-name" name="playerOne" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Player 2:</span>
                            </div>
                            <div class="col">
                                <input autocomplete="on" id="player-two-name" name="playerTwo" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="error-box"></div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a onclick="newGameWithNames(event)" id="play-button" class="btn btn-primary" type="button">Play</a>
                            <!--<a href="/new/#player-one-name/#player-two-name"class="btn btn-primary" type="button">Play</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="selectPlayerAndColor" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Select Player</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <a onclick="select('player_one')" id="play-button" class="btn btn-primary" type="button">Player One</a>
                            </div>
                            <div class="col">
                                <a onclick="select('player_two')" id="play-button" class="btn btn-primary" type="button">Player Two</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 id="Inline-Title" class="card-header" style="text-align: center">Chess</h1>

        <div class="page-container">
            <div id="chess-app"></div>
            @if(controller.gameStatus == NEXT_PLAYER) {
                <div id="message-box" class="alert alert-primary" role="alert">
                    @controller.playerAtTurnToString @message
                </div>
            } else if(controller.gameStatus == CHECK_MATE) {
            <div id="message-box" class="alert alert-danger" role="alert">
                @controller.playerNotAtTurnToString @message
            </div>
            } else if(controller.gameStatus == MOVE_NOT_VALID)  {
            <div id="message-box" class="alert alert-danger" role="alert">
                @controller.playerAtTurn @message
            </div>
            } else {
            <div id="message-box" class="alert alert-warning" role="alert">
                @controller.playerAtTurnToString, @message
            </div>
            }
        </div>

        <script>
            var app = new Vue({
                el: '#chess-app',
                render: function(html) {
                    return html(ChessApp.default, {});
                }
            })
        </script>
    }
